.areaJuego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.respuestas {
    display: flex;
    flex-direction: column;
}

.botonRespuesta {
    background-color: rgb(33,37,41);
    color: #FFFFFF;
    width: 20rem;
    height: 10rem;
    margin: 1rem;
}

.botonesTop {
    display: flex;
    flex-direction: row;
}

.botonesBottom {
    display: flex;
    flex-direction: row;
}

p.pregunta{
    font-size: 35px;
    font-weight: bold;
}